<!-- <footer class="footer">
  <div class="">
    <span class="">Copyright © 2019 <a href="" target="_blank">GATOT KACA TEAM</a>. All rights reserved.</span>
    <span class="">Hand-crafted & made with <i class=""></i></span>
  </div>
</footer>
 -->

 <section>
    <h1>Gatot Kaca team</h1>
    <h3>Hover over the circle below !</h3>
  </section>
  <div class="footer">
    <div id="button"></div>
  <div id="container">
  <div id="cont">
  <div class="footer_center">
       <h3>Gatot Kaca team</h3>
       <h4>Mitrais</h4>
       <h5>All rights reserved || Copyright © 2019</h5>
  </div>
  </div>
  </div>
  </div>