<h1>The Employees</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

    <h5 *ngIf="!messageForm.invalid">Your form is valid!</h5>

    <label>
      Name:<br>
      <input type="text" formControlName="name" [(ngModel)]="form.name">
      <br>
      <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
        <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
      </div>
    </label>
  
    <label>
      Addres:<br>
      <input formControlName="address" [(ngModel)]="form.address">
      <br>
      <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
        <div *ngIf="messageForm.controls.message.errors.required">A message is required</div>
      </div>
    </label>

    <label>
        Phone:<br>
        <input type="text" formControlName="phone" [(ngModel)]="form.phone">
        <br>
        <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
          <div *ngIf="messageForm.controls.message.errors.required">A message is required</div>
        </div>
      </label>
    <br>
    <input type="submit" value="Add Employee" class="cta">
    <input type="button" value="Update" class="cta" (click)="patchFunction()">
</form>

<br>
<br>
<table *ngIf="users" class="empTable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user._id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.phone }}</td>
      <td><input type="button" value="Edit" class="cta" (click)="editUser(user)"></td>
    </tr>
  </tbody>
</table>