<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>

<!-- Homepage Section -->
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Gatot Kaca Team</h2>
    <p class="w3-opacity"><i>MITRAIS TRAINEE</i></p>
    <p class="w3-justify">Hi, guys <br>
    We're from Gatot Kaca team. We're from different areas in Indonesia.  </p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Muhamad Hanif</p>
        <img src="https://i.ibb.co/n88C2GW/hanif.png" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Restu Santosa</p>
        <img src="https://i.ibb.co/hFLkj83/Restu.png" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Rezki Oksaputri</p>
        <img src="https://i.ibb.co/s2zc3KG/rezki.png" class="w3-round" alt="Random Name" style="width:60%">
      </div>
    </div>
  </div>